{% extends "base.html" %}

{% block content %}
    <h2>Ratings</h2>
    {{ extra_content }}
    {% for rating in object_list %}
    <ul>
        <li>{{ rating.name }}</li>
        <li>{{ rating.text }}</li>
        <li>{{ rating.get_rating|floatformat:1 }}</li>
        <li>
            <a href="rating/{{ rating.id }}">link to - {{ rating.name }}</a>
        </li>
    </ul>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}"></a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.pagination.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}